{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content  %}
{% for  detail in cart.product.all %}
<br>
<br>
<div class="col d-flex justify-content-center">
    <div class="card bg-light mb-2`" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ detail.p_image.url }}" class="card-img" alt="...">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ detail.p_name }}</h5>
            <p class="card-text">
                Product: {{ detail.p_name }} <br>
                ID: {{ detail.p_id }} <br>
                Price: {{ detail.p_price }} <br>
                Category: {{ detail.category }} <br>
                Description: {{ detail.description }} <br> 
            </p>
            <!-- <h4>Option 1: <a href="{% url 'order-product' detail.id %}" >Payment on delivery</a><br></h4> -->
            <div class="alert alert-warning" role="alert">
              Option 1:
            </div>
            <a href="{% url 'order-product' detail.id %}"> 
                <button type="submit" class="btn btn-outline-warning">Cash on delivery</button><br>
            </a>
            <br>
            <div class="alert alert-warning" role="alert">
              Option 2:
            </div>

            <form action="{% url 'payment' detail.id %}" method="POST">
                {% csrf_token %}
                <input name="transaction_id" type="text"  style="border-color: yellow;" placeholder="transaction ID" required>
                <button type="submit" class="btn btn-outline-warning">Order with Bkash or Rocket</button>
            </form>


            
            <a href="{% url 'delete-from-cart' detail.id %}"> 
                <button type="submit" class="btn btn-outline-warning">Remove Item</button>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>    
{% endfor %}
</div>
<br>
<div class="col d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-warning">Total Amount : {{ total }}</button>
</div>
<hr>
{% endblock content %}